<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
	</head>
	<body>
		<header>
			<h1>{{title}}</h1>
		</header>

		<main>
			<table>
				<tr>
					<th>Filename</th>
					<th>Level</th>
					<th>Name</th>
					<th>Description</th>
					<th>Author</th>
					<th>Date</th>
					<th>Video</th>
				</tr>
				{{#each replays}}
				<tr>
					<td><a href="{{../downloadUrl}}/{{filename}}">{{filename}}</a></td>
					<td>{{level}}</td>
					<td>{{name}}</td>
					<td>{{description}}</td>
					<td>{{author}}</td>
					<td>{{date}}</td>
					{{#if video}}
					<td><a href="{{video}}">Watch</a></td>
					{{else}}
					<td></td>
					{{/if}}
				</tr>
				{{/each}}
			</table>
		</main>
		<footer>
			Portfolio viewer by thearst3rd - <a href="https://git.thearst3rd.com/thearst3rd/pq-rrec-portfolio">Source code</a>
		</footer>
	</body>
</html>
